.wrapper {
  width: 280px;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 4px;
  position: relative;
}

.tab {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms;
}

* {
  box-sizing: border-box;
}
