.wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2147483647;
  background-color: #212121;
  padding: 16px;
  font-size: 16px;
  height: 400px;
  width: 240px;
  border-radius: 16px;
}

.icon {
  transition: 300ms;
  cursor: pointer;
  margin-right: 20px;
}
.icon:hover {
  transform: scale(1.2);
  color: #f90 !important;
}

.text {
  color: white;
  margin-left: 8px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hoverButton {
  height: 48px;
  border-radius: 32px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #363341;
  cursor: pointer;
  transition: 300ms;
  margin: 16px 0;
}

.startButton {
  height: 48px;
  border-radius: 32px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #3b8597;
  transition: 300ms;
  cursor: pointer;
  margin-top: 16px;
}

.startButton:hover {
  transform: scale(1.05);
  background-color: #f90;
}
